$master: #36005aa6;
$heder: #36005aa6;
$nav_bar: #36005a;
$heder_nav_bar_click: #53008ac5;
$heder_nav_bar_click_hover: #d292fc;
$heder_nav_bar_text: #d292fc;
$heder_nav_bar_text_hover: #53008ac5;

$main_Hero_backgroung: #48ff00;